<div class="container">
    <table class="table table-striped table-hover table-bordered">
      
            <thead >
                <tr>
                <th>firstName </th>
                <th>lastName</th>
                <th>Email</th>
                <th>Sales Count</th>
                <th>Met Quota?</th>
                </tr>
            </thead>
            
            <tbody class="table-dark" *ngFor="let sales of mysalesperson">
                <tr >
                    <td>{{sales._firstName}}</td>
                    <td>{{sales._lastName}}</td>
                    <td>{{sales._email}}</td>
                    <td>{{sales._salesNumber | currency:'USD'}}</td>
                    <td>
                    <div *ngIf="sales._salesNumber>400;else myelseblock">Yes
                    </div>
                    <ng-template #myelseblock>No</ng-template>
                    </td>
                </tr>
            </tbody>
       
    </table>
</div>